#nav1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: rgb(133, 188, 243);
    border: 2px solid rgb(21, 20, 20);
    
}
#nav2{
    height: 70px;
    width: 100%;
    background-color:  rgb(133, 188, 243);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
#contents{
    display: flex;
    list-style: none;
    justify-content:space-between;
    align-items: center;
    width: 30%;

}
#logo>h1{
    position: absolute;
    top:70px;
    left: 100px;
}
#dog{
    background-repeat: no-repeat;
    margin-left: 1110px;
    border-radius: 50%;

}
#icons{
    position: absolute;
    left: 700px;
    width: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: +100px;                                                                                                    
}
   